*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #080808;
    border: #080808;
    font-display: flex;
    border-width: medium;
    color: #fff;
}

form{
    margin: auto;
    background-color: #221f1f;
    width: 600px;
    height: 420px;
    margin-top: 90px;
    border-radius: 25px;
}

label{
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

input{
    margin-left: 50px;
    width: 500px;
    height: 35px;
    border-radius: 5px;
    display: grid;
}

.login{
    top: 0;
    padding-top: 0px -5px;
    width: 400px;
    height: 30px;
    border-radius: 13px;
    background-color: #000fff;
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 100px;
    display: grid;
}

.left{
    width: 220px;
    margin: 30px 40px;
}

.middle{
    margin: 5px 290px;
    margin-top: -40px;
}

.right{
    width: 220px;
    margin: 5px 340px;
    margin-top: -15px;
}

.create_account{
    top: 0;
    padding-top: 0px -5px;
    width: 400px;
    height: 30px;
    border-radius: 13px;
    background-color: #00ff2a;
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 100px;
    display: grid;      
}